<header>
  <h1>Flipper</h1>
  <div class="buttons">
    <button id="pause-button"><span class="pause">Pause</span><span class="resume">Resume</span></button>
    <button id="settings-button">Settings</button>
  </div>
</header>
