<div id="settings" class="u-hide">
  <fieldset>
    <legend>Mode</legend>
    <select id="settings-mode">
      <option value="auto">Auto</option>
      <option value="click">Click</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Start</legend>
    <select id="settings-start">
      <option value="filled">Filled</option>
      <option value="empty">Empty</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Transition</legend>
    <select id="settings-transition">
      <option value="flip">Flip</option>
      <option value="fade">Fade</option>
      <option value="zoomIn">Zoom in</option>
      <option value="zoomOut">Zoom out</option>
      <option value="slide">Slide</option>
      <option value="random">Random</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Transition duration</legend>
    <input id="settings-duration" type="range" min="0" max="5000" step="100" value="1000">
  </fieldset>
  <fieldset>
    <legend>Delay</legend>
    <input id="settings-delay" type="range" min="0" max="5000" step="100" value="1000">
  </fieldset>

  <button id="settings-reset">Reset</button>
  <button id="settings-close">Close</button>
</div>
