* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100svh;
	background-color: #fff;
	color: #000;
}

body {
	background-image: radial-gradient(#ffcefc 2px, transparent 2px),
		radial-gradient(#ffcefc 2px, transparent 2px);
	background-size: 50px 50px;
	background-position: 0 0, 25px 25px;
	background-color: #fff;
	color: #000;
	font-family: "Atkinson-Hyperlegible", "Helvetica", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100svh;
}

#debug {
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}

div {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#list {
	display: none;
}

main {
	background: radial-gradient(
				100% 100% at 100% 100%,
				#0000 46%,
				#fff 47% 53%,
				#0000 54%
			)
			25px 25px,
		radial-gradient(100% 100% at 0 0, #0000 46%, #fff 47% 53%, #0000 54%) 25px
			25px,
		radial-gradient(
				100% 100%,
				#0000 22%,
				#fff 23% 29%,
				#0000 30% 34%,
				#fff 35% 41%,
				#0000 42%
			)
			#e4e4ed;
	background-size: 50px 50px;
	position: relative;
	transform: translateZ(0);
	z-index: 10;
}
