---
title: Flipper
layout: main.njk
---
<header>
	<button id="settings-button">Settings</button>
</header>

<main></main>

{% include "settings.njk" %}

<p id="debug">Covers: {{ collections.covers.length }} - {{collections.covers[5]}}</p>

<ul id="list">
	{% for cover in collections.covers %}
	<li>{{ cover }}</li>
	{% endfor %}
</ul>

<footer></footer>
