$shadowOffset: 2px;

header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	padding-top: 5px;
	font-size: 0.75rem;
	letter-spacing: 2px;
}

h1 {
	position: absolute;
	left: 3px;
	top: 3px;
	font-size: 4rem;
	letter-spacing: -0.25rem;
	text-align: center;
	color: #fff;
	font-family: Comfortaa, sans-serif;
	font-weight: 700;
	text-shadow: 0 1px 0 #a00, 1px 0 0 #a00, 0 -1px 0 #a00, -1px 0 0 #a00,
		5px 5px 2px rgba(0 0 0 / 30%);
}
