$perspective: 300px;
$time: 0.5s;

#debug {
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}

#list {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	color: #000;
}

body {
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	z-index: 10;
}

main {
	background: #999;
	position: relative;
	transform: translateZ(0);
	z-index: 10;
}

.c {
	position: absolute;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateY(0);
	transform-style: preserve-3d;
	z-index: 10;
}

.c.flippedl,
.c.flippingl {
	animation-name: flipped;
	animation-duration: $time;
	animation-iteration-count: once;
	animation-direction: forward;
	animation-timing-function: linear;

	// backface-visibility: hidden;
	z-index: 2000;
}

.c.flippingl {
	animation-name: flipping;
}

@keyframes flipped {
	0% {
		transform: perspective($perspective) rotateY(90deg);
	}

	100% {
		transform: perspective($perspective) rotateY(0deg);
		animation-timing-function: ease-out;
	}
}

@keyframes flipping {
	0% {
		transform: perspective($perspective) rotateY(0deg);
	}

	100% {
		transform: perspective($perspective) rotateY(-90deg);
		animation-timing-function: ease-out;
	}
}
